<div class="row" style="margin-top: 10%">
  <h1>Wiki Scrape</h1>
</div>

<div class="row">
  <div class="column">
    <h5>articles</h5>
    <ul>
      {{#each articles}}
      <li>
        <a href="{{this.link}}">
          <h5>{{this.title}}</h5>
        </a>
        <br>
        {{this.date}}
        <br>
        {{this.summary}}
        <br>
        <button class="comment">comment</button>
      </li>
      <br>
      {{/each}}
    </ul>
  </div>
</div>