body {
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
    font-family: adobe-garamond-pro, serif;
}

.main-comment {
    margin-top: 1rem;
}

.card {
    padding: 1rem;
    margin: .5rem;
}
.comment-page-title {
    margin: 2%;
}

.back {
    margin: 5px 0px;
}

.comment-card {
    margin: 0px 0px 5px;
}